body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1086px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:189px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:317px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:189px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:317px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:52px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:583px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:583px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:249px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u173_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:377px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u174_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u174_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:10px;
  width:71px;
  height:8px;
}
#u174_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:10px;
  width:8px;
  height:48px;
}
#u174_seg3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:46px;
  width:18px;
  height:18px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:219px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u175_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u175_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-141px;
  width:8px;
  height:145px;
}
#u175_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-141px;
  width:146px;
  height:8px;
}
#u175_seg3 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-146px;
  width:18px;
  height:18px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-116px;
  width:100px;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:347px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u176_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-9px;
  width:18px;
  height:18px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:219px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u177_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u177_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-9px;
  width:18px;
  height:18px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:377px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u178_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u178_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:7px;
  width:91px;
  height:8px;
}
#u178_seg2 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:7px;
  width:8px;
  height:51px;
}
#u178_seg3 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:46px;
  width:18px;
  height:18px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:219px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u179_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-141px;
  width:8px;
  height:145px;
}
#u179_seg2 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-141px;
  width:132px;
  height:8px;
}
#u179_seg3 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-146px;
  width:18px;
  height:18px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:249px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u180_seg1 {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:36px;
  width:168px;
  height:8px;
}
#u180_seg2 {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:36px;
  width:8px;
  height:32px;
}
#u180_seg3 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:56px;
  width:18px;
  height:18px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:708px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:45px;
  width:413px;
  height:708px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:654px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:90px;
  width:391px;
  height:654px;
  font-size:14px;
  line-height:24px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:45px;
  width:150px;
  height:37px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:82px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:677px;
  width:253px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:435px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:495px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u188_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u188_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:49px;
}
#u188_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:42px;
  width:23px;
  height:8px;
}
#u188_seg3 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:42px;
  width:76px;
  height:8px;
}
#u188_seg4 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:42px;
  width:8px;
  height:46px;
}
#u188_seg5 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:76px;
  width:18px;
  height:18px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:496px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u189_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u189_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:53px;
}
#u189_seg2 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:41px;
  width:76px;
  height:8px;
}
#u189_seg3 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:41px;
  width:8px;
  height:46px;
}
#u189_seg4 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:75px;
  width:18px;
  height:18px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:465px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u190_seg0 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-4px;
  width:98px;
  height:8px;
}
#u190_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-122px;
  width:8px;
  height:126px;
}
#u190_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-122px;
  width:21px;
  height:8px;
}
#u190_seg3 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-127px;
  width:18px;
  height:18px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-29px;
  width:100px;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:465px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u191_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u191_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-122px;
  width:8px;
  height:126px;
}
#u191_seg2 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-122px;
  width:17px;
  height:8px;
}
#u191_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-127px;
  width:18px;
  height:18px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-26px;
  width:100px;
  word-wrap:break-word;
}
